/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8e2e6;  /* Light pink background */
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 75px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

header .logo img {
    width: 50px; /* size=50px */
    position: relative;
    float: left;
    margin-top:1px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Main Content */
#main {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

#about h1 {
    color: #555;
    text-align: center;
    font-size:75px;
}

#products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product {
    width: 30%;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.product img {
    width: 75%;
    height: auto;
    border-radius: 8px;
}

.product h3 {
    color: #333;
}

.product p {
    color: #888;
    font-size: 16px;
}

.add-to-cart {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.add-to-cart:hover {
    background-color: #4cae4c;
}

/* Customer details form */
#customer-details form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 20px auto;
}

#customer-details form label {
    display: block;
    margin-bottom: 10px;
}

#customer-details form input, 
#customer-details form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#customer-details form button {
    background-color: #0275d8;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#customer-details form button:hover {
    background-color: #025aa5;
}

/* Footer */
footer {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #555;
}
